{% extends 'blogs/base.html' %}

{% block content %}
<h1>記事一覧</h1>
<div>
    {% for blog in object_list %}
        <div style="margin-bottom: 30px">
            <h2>
                <a href="">{{ blog.title }}</a>
            </h2>
            <ul>
                <li>作成者: {{ blog.author }}</li>
                <li>作成日: {{ blog.created_at }}</li>
            </ul>
        </div>
    {% endfor %}
    <a href="{% url 'blog_add' %}" class="pure-button pure-button-primary">記事投稿</a>
</div>
{% endblock %}